<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">

    <link rel="shortcut icon" type="image/png" href="static/images/favicon.png">


    {% if title %}
        <title>{{ title }} - Dharamshi Milestone</title>
    {% else %}
        <title>Dharamshi Milestone</title>
    {% endif %}


    {% block head %}

    {% endblock %}
</head>

<body>
    <img class="img-fluid" src="{{ url_for('static', filename='images/d_logo.png')}}" alt="Me at the cannon" height="350">
    <header class="site header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <!-- navbar-expand-lg display nav items on large screens -->
            <div class="container">
                <a href="/" class="navbar-brand">Dharamshi Milestone</a>
            </div>
            <div class="logger">
                {% if current_user.is_authenticated %}
                    <small>
                        Logged in as {{ current_user.username }}
                    </small>
                {% endif %}
            </div>
            <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#burgernav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="burgernav">      <!-- stop the nav itms from appearing in a column -->
                <ul class="navbar-nav ml-auto">     <!-- ml-auto displays nav itms on the right side-->
                    <li class="nav-item ml-auto">
                    <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item ml-auto">
                    <a class="nav-item nav-link" href="{{ url_for('photos') }}">Photos</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item ml-auto">
                        <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                        <li class="nav-item ml-auto">
                        <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                        </li>
                    {% else %}
                        <li class="nav-item ml-auto">
                        <a class="nav-item nav-link" href="{{ url_for('login') }}">Admin Login</a>
                        </li>
                    {% endif %}
                    <li class="nav-item ml-auto">
                    <a class="nav-item nav-link" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row mt-3">
            <div class="col-md-4 order-lg-4">
              <div class="content-section">
                <h3>Our Menu</h3>
                <p class='text-muted'>
                    Find out more.
                </p>
                  <div class="list-group">
                      <a href="{{ url_for('promo') }}" class="list-group-item list-group-item-action list-group-item-warning">Promos & Events</a>
                      <a href="{{ url_for('establishments') }}" class="list-group-item list-group-item-action list-group-item-warning">What's On Your Plate</a>
                      <a href="{{ url_for('news') }}" class="list-group-item list-group-item-action list-group-item-warning">News & Info</a>
                      {% if current_user.is_authenticated %}
                        <a class="list-group-item list-group-item-action list-group-item-danger" href="{{ url_for('register_user') }}">Register New User</a>
                        <a class="list-group-item list-group-item-action list-group-item-danger" href="{{ url_for('create_banner') }}">Create New Banner</a>
                    {% endif %}
                  </div>
              </div>
            </div>
            <div class="col-md-8 order-lg-2">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                          {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}
                {% endwith %}

                {% block content %}

                {% endblock %}
            </div>
        </div>
    </main>






    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>